﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="list-group">

                <a href="@Url.Action("Dashboard","Home")" class="list-group-item active nameLabel">
                    Personal money manager
                </a>
             
                <div class="leftMenu col-lg-3 col-md-3 col-sm-12 col-xs-12 " >

                       
                    <a href='@Url.Action("Dashboard", "Home")' class="list-group-item">Dashboard<i class="glyphicon glyphicon-plus-sign pull-right"></i></a>
                    <a href='@Url.Action("Create", "Wallet")' class="list-group-item">Add new wallet<i class="glyphicon glyphicon-plus-sign pull-right"></i></a>
                    <a href="@Url.Action("Create", "Category")" class="list-group-item">Add new category<i class="glyphicon glyphicon-plus-sign pull-right"></i></a>
                    <a href='@Url.Action("ShowAllWallets", "Wallet")' class="list-group-item">Wallets<i class="glyphicon glyphicon-folder-close pull-right"></i></a>
                    <a href='@Url.Action("ShowLog", "Log",new {page=1})' class="list-group-item">Log<i class="glyphicon glyphicon-folder-close pull-right"></i></a>
                      
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 bodyPadding">
                    @RenderBody()
                    <hr />
                               
                </div>  

            </div>
        </div>
     
        </div>
 

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
