﻿.myicons {
    font-size: 24px;
}

.textCenter {
    text-align: center;
}
.leftMenu {
    margin-top: 2%;
    font-size: 16pt;
}

.nameLabel {
    font-size: 24pt;
}

.bodyPadding {
    padding-top: 2%;
}