﻿@model PersonalMoneyManagerMVC.Entity.DTO.Account.CreateWalletDTO

@{
    ViewBag.Title = "Create";
}

<div class="container-fluid">
    <div class="row">
        <div class=" col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>Create wallet:</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-offset-4 col-lg-4   col-md-4 col-sm-offset-4 col-md-offset-4 col-sm-4">

                        @using (Html.BeginForm("Create", "Wallet", FormMethod.Post))
                        {

                            @Html.AntiForgeryToken()


                            <div class="form-horizontal  center-block">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">

                                    @Html.LabelFor(model => model.Type, "Name:")
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Type, "Currency:")
                                    @Html.EnumDropDownListFor(model => model.Currency, new { @class = "form-control" })

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Type, "Type:")
                                    @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control " })

                                </div>

                            </div>
                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6  ">
                                            <input type="submit" value="Create" class="btn btn-success" />
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <input type="submit" value="Cancel" class="btn btn-danger " />
                                        </div>

                                    </div>
                                
                            
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
