﻿@model PersonalMoneyManagerMVC.Entity.ViewModel.Wallet.WalletDetailsViewModel


@{
    ViewBag.Title = "Details";
}
<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading" ">
                    <h2 style="width: 30%; padding-bottom: 100pxl;">Wallet: @Html.DisplayFor(model => model.Name)</h2>
                    <h2 style="width: 30%;" >Balance: @Html.DisplayFor(model => model.Balance)</h2>
                        
                    
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Created)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Created)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Currency)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Currency)
                        </dd>
                       

                        <dd>
                            @Html.DisplayFor(model => model.Balance)
                        </dd>

                    </dl>
                </div>
            </div>
            <center>
                <p style="">
                    <button class=" btn btn-info glyphicon glyphicon-plus" onclick="location.href='@Url.Action("Create", "Operation", new { id = Model.Id }, null)'"> Add operation</button>
                    <button class=" btn btn-success glyphicon glyphicon-edit " onclick="location.href=' @Url.Action("Edit", new { id = Model.Id })'"> Edit wallet</button>

                </p>
            </center>
            <!--Operations-->

            <div class="panel panel-default">
                <div class="panel-heading"><h4>Operations:</h4></div>
                <table class="table">
                    <tr>
                        <th>
                           
                        </th>
                        <th>
                            Operation name:
                        </th>
                        <th>
                            Date:
                        </th>
                        <th>
                            Summ:
                        </th>
                        <th>
                            Pay place:
                        </th>
                        <th>
                            Commentary:
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.OperationHistory.OrderByDescending(x=>x.Created))
                    {
                        <tr>
                            <td style="text-align:center;">
                                <i class="@Html.DisplayFor(modelItem => item.Icon) myicons "   style="color:@Html.DisplayFor(modelItem => item.IconColor) "></i>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Summ)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayPlace)
                            </td>
                            <td style="width: 30%;">
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                            <td>
                                <button type="button" class="btn btn-success glyphicon glyphicon-edit"> @Html.ActionLink(" ", "Edit", new { id = item.Id })</button>

                                <button type="button" class="btn btn-info glyphicon glyphicon-info-sign"> @Html.ActionLink(" ", "Details", new { id = item.Id })</button>

                                <button type="button" class="btn btn-danger glyphicon glyphicon-trash"> @Html.ActionLink(" ", "Delete", new { id = item.Id })</button>
                            </td>
                        </tr>
                    }
                   
                </table>
              
            </div>
            <div class="text-center">
                <ul class="pagination">
               
                
                    @for(int i = 1;i<Model.PageInfo.PageCount+1;i++){

                        <li class="page-item"><a class="page-link" href='@Url.Action("Details","Wallet",new { id = Model.Id,page= i })'>@i</a></li>
                    }

              
                </ul>
            </div>
        </div>
    </div>
</div>