﻿@model PersonalMoneyManagerMVC.Entity.DTO.Account.CreateWalletDTO

@{
    ViewBag.Title = "Edit";
}



    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="panel panel-info">
                    <div class="panel-heading" style="background: #4db8ff;color: aliceblue">
                        <h3>Edit wallet:</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-4 col-lg-offset-4">

                            @using (Html.BeginForm("Edit", "Wallet", FormMethod.Post))
                            {

                                @Html.AntiForgeryToken()


                                <div class="form-horizontal  center-block">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">

                                        @Html.LabelFor(model => model.Name, "Name:")
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Currency, "Currency:")
                                        @Html.EnumDropDownListFor(model => model.Currency, new { @class = "form-control" })

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Type, "Type:")
                                        @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control " })

                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="col-lg-6 pull-left">
                                                <input type="submit" value="Create" class="btn btn-success" />
                                            </div>

                                            <div class="col-lg-6 ">
                                                <input type="submit" value="Cancel" class="btn btn-danger pull-right" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>