﻿@model IEnumerable<PersonalMoneyManagerMVC.Entity.ViewModel.Wallet.WalletDetailsViewModel>

@{
    ViewBag.Title = "AllWallets";
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="panel panel-info">

            <div class="panel-heading "><h3>All wallets:</h3></div>
            <table class="table table-hover ">


                <tr class="well" style="background: #FFFAFA ;color: black">
                    <th >
                       
                    </th>

                    <th>
                        Wallet name
                    </th>
                    <th>
                        Balance
                    </th>
                    <th>
                        Currency
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Created
                    </th>
                    <th></th>


                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td style="text-align:center;">
                        <i class="@Html.DisplayFor(modelItem => item.Icon) myicons" style="color:@Html.DisplayFor(modelItem => item.IconColor)"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        <div class="pull-right">
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-success glyphicon glyphicon-edit" })

                            @Html.ActionLink(" ", "Details", new { id = item.Id,page=1 }, new { @class = "btn btn-info glyphicon glyphicon-info-sign" })

                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash"> @Html.ActionLink(" ", "Delete", new { id = item.Id })</button>
                        </div>

                    </td>
                </tr>
                }

            </table>
        </div>
    </div>
</div>

