﻿
@using System.Activities.Expressions
@model PersonalMoneyManagerMVC.Entity.ViewModel.Dashboard.DashViewModel

@{
    ViewBag.Title = "Dashboard";
}


<div class="container-fluid">
    <div class="row">

        <div class="col-lg-offset-1 col-lg-8">
            <div style="float: left; width: 40%;">
                <h3>Last operations:</h3>
                @foreach (var item in Model.Operations)
                {
                    <div style="border: 1px solid lightgray; display: block; margin-bottom: 6%; border-radius: 4px; height: auto;  box-shadow: 2px 2px lightgray;">
                        <div style="margin: 5% 5% 5% 5%;">
                            <h4 style="text-align: center;">@item.Name <hr></h4>

                            <center>
                                @if (item.CategoryType.Equals("Profit"))
                                {
                                    <h3 style="color: green">+@item.Summ</h3>

                                }
                                else
                                {
                                    <h3 style="color: red">-@item.Summ</h3>

                                }

                            </center>
                            @if (item.Comment != null)
                            {
                                <b style="color: lightgray;">Comment:</b>@item.Comment
                            }

                        </div>
                        <div style="height: 5%; text-align: right; margin-right: 5%;">
                            <b style="color: lightgray;">Created:</b>
                            @item.Created
                        </div>
                    </div>
                }
            </div>


            <div style="float: right; width: 40%;">
                <h3>Last created wallets:</h3>
                @foreach (var item in Model.Wallets)
                {
                    <div style="border: 1px solid lightgray; display: block; margin-bottom: 5%; border-radius: 4px; height: auto;box-shadow: 2px 2px lightgray;">
                        <div style="margin: 5% 5% 5% 5%;">
                            <div style=" display: inline-block; text-align: left; width: 45%;">
                                <a href='@Url.Action("Details","Wallet",new{id=@item.Id,page=1})' style="color: black;"><h4>@item.Name</h4></a>
                            </div>
                            <div style=" display: inline-block; text-align: right;width: 45%;">
                                <h4>@item.Currency</h4>
                            </div>
                            <hr />
                            
                                <div>
                                    <div style="display: inline-block; width: 30%;">
                                        <b style="color: lightgray;">Balance:</b>
                                    </div>
                                    <div style="display: inline-block; width: 60%; text-align: center;">
                                        <h3>@item.Balance</h3>
                                    </div>
                                </div>
                                <div>
                                    <div style="display: inline-block; width: 30%;">
                                        <b style="color: lightgray;">Type:</b>
                                    </div>
                                    <div style="display: inline-block; width: 60%; text-align: center;">
                                        <h4>@item.Type</h4>
                                    </div>
                                </div>
                                <div style="height: 5%; text-align: right; margin-right: 5%;">
                                    <b style="color: lightgray;">Created:</b>
                                    @item.Created
                                </div>
                           
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>