﻿@model PersonalMoneyManagerMVC.Entity.DTO.Operation.CreateOperationDTO

@{
    ViewBag.Title = "Create";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>Add operation:</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-4 col-lg-offset-4">

                        @using (Html.BeginForm("Create", "Operation", FormMethod.Post))
                        {

                            @Html.AntiForgeryToken()


                        <div class="form-horizontal  center-block">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">

                                @Html.LabelFor(model => model.Name, "Name:")
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Summ, "Summ:")
                                @Html.EditorFor(model => model.Summ, new { htmlAttributes = new { type = "number",step=.1, @class = "form-control" }})
                                @Html.ValidationMessageFor(model => model.Summ, "", new { @class = "text-danger" })


                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Categories, "Category:")
                                @Html.DropDownListFor(model => model.CategoryId, Model.Categories,new { @class = "form-control" })
                              
                            </div>
                            <div class="form-group">
                                <b>Comentary:</b>
                                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })


                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PayPlace, "Pay place:")
                                @Html.EditorFor(model => model.PayPlace, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PayPlace, "", new { @class = "text-danger" })


                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-6 pull-left">
                                        <input type="submit" value="Create" class="btn btn-success" />
                                    </div>

                                    <div class="col-lg-6 ">
                                        <input type="submit" value="Cancel" class="btn btn-danger pull-right" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
