﻿@model PersonalMoneyManagerMVC.Entity.DTO.Category.CreateCategoryDTO

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>CreateCategoryDTO</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IconList, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <table style="border: 1px black solid" >
                <tr>
                    @foreach (var x in Model.IconList)
                    {

                    <td >
                        @Html.Label(" ", new { @class = $"{x.Value} myicons" })
                    </td>
                   
                    }
                </tr >
                
                <tr>
                    @foreach (var x in Model.IconList)
                    {


                        <td class="text-center">
                            @Html.RadioButtonFor(c => c.SelectedIcon, x.Value)
                        </td>

                    }
                </tr>

            </table>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ColorList, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SelectedColor,Model.ColorList, new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.SelectedColor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WithdrawOrProfit, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.WithdrawOrProfit,new { @class = "form-control" } )
          
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
